:root {
  --el-color-primary: #18bc9c !important;
  --el-color-primary-light-3: #4dcdb3 !important;
  --el-color-primary-light-5: #82ddc9 !important;
  --el-color-primary-light-7: #b7eade !important;
  --el-color-primary-light-8: #d2f1ea !important;
  --el-color-primary-light-9: #e8f8f5 !important;
  --el-color-primary-dark-2: #13967d !important;
} 